/* Version 1.1.5@main */

@font-face {
    font-family: "Choco cooky";
    src: local("Choco cooky"),url("https://cdn.choomai.lol/fonts/Chococooky.woff") format("woff");
}
@font-face {
    font-family: "White Rabbit";
    src: local("White Rabbit"),url("https://cdn.choomai.lol/fonts/WhiteRabbit.woff") format("woff");
}
@font-face {
    font-family: "Minecraft";
    font-style: normal;
    src: url("https://cdn.choomai.lol/fonts/MinecraftRegular-Bmg3.otf") format("opentype");
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
::-webkit-scrollbar {
    width: 0.45cm;
}
::-webkit-scrollbar-track {
    background-color: #5f5353;
}
::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
}
::-webkit-scrollbar-thumb:hover {
    background: repeating-linear-gradient(-45deg,red 0%,yellow 7.14%,lime 14.28%,cyan 21.4%,blue 35.7%,magenta 42.84%,red 50%);
    /* background-color: #33cc33; */
    border-radius: 10px;
}
body {
    background: url("https://cdn.choomai.lol/imgs/04 gettyimages-627505342.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
h1 {
    font-family: 'Minecraft', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
p {margin: 0;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
footer {text-shadow: black 2px 1px 4px;}
h1, h2, h3, h4, h5, h6, div, span, p, a {color: white;}
code {
    display: inline;
    font-family: "White Rabbit";
    font-weight: normal;
    color: white;
    background-color: dimgray;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 5px white;
    text-shadow: none;
}
h1 a.title-txt {
    font-family: 'Minecraft', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}
h1.page-title {
    font-size: 170%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
div.container {
    background-color: rgba(0, 0, 0, 40%);
    max-width: 21cm;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 12px;
    backdrop-filter: blur(3px);
}
div.container-fullpage {
    position: fixed;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

dialog#popup:is([open], :not([open])) {
    display: flex;
    position: fixed;
    inset: 0 0 0 0;
    max-width: 60%;
    max-height: 80%;
    overflow-x: overlay;
    padding: 0.5cm;
    border-radius: 10px;
    background-color: #0F0F0F;
    color: #fff;
    transition: 500ms ease;
}
dialog#popup:not([open]) {
    pointer-events: none;
    inset: -100vh 0 0 0;
}
dialog#popup[open], dialog#popup[open]::backdrop {animation: fadeIn 500ms ease forwards;}
dialog#popup:not([open]), dialog#popup:not([open])::backdrop {animation: fadeOut 500ms ease forwards;}
dialog#popup::backdrop {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
}
dialog#popup span.close-popup {
    position: absolute;
    top: -0.25cm;
    right: 0.05cm;
    font-size: 30px;
    color: white;
    overflow-x: hidden;
    user-select: none;
    cursor: pointer;
    transition: 300ms ease;
}
dialog#popup span.close-popup:hover {
    transition: 300ms ease;
    color: red;
    transform: scale(1.2);
}
input.popup-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
hr.sep {
    background: linear-gradient(to right, #FFFFFF80, white, #FFFFFF80);
    border: none;
	margin-top: 5px;
    margin-bottom: 5px;
	height: 1px;
    width: -webkit-fill-available;
    width: -moz-available;
}
@keyframes slide {
    0% {background-position-x: 0%;}
    100% {background-position-x: 300cm;}
}
div.rgb-txt {
    user-select: none;
    color: white;
    background: repeating-linear-gradient(-45deg,red 0%,yellow 7.14%,lime 14.28%,cyan 21.4%,blue 35.7%,magenta 42.84%,red 50%);
    background-size: 300cm 300cm;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: slide 5s linear 0s infinite normal;
}
@media (prefers-reduced-motion: reduce) {div.rgb-txt {animation: none}}

@keyframes circle-loading {
    0% {rotate: 0deg;}
    100% {rotate: 360deg;}
}
div.loading-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.loading-circle::before {
    /* content: ""; */
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid darkslategray;
    border-top: 3px solid greenyellow;
    animation: circle-loading 1.5s infinite linear;
}
div.loading-circle span.please-wait {margin-top: 0.1cm;}

div.win-loader {
    position: relative;
    width: var(--size);
    height: var(--size);
}
div.win-loader, div.win-loader-wrap div.win-loader-circle::before {
    --time: 5s;
    --size: 40px;
}
div.win-loader-wrap {
    position: absolute;
    width: calc(var(--size) - 2px);
    height: calc(var(--size) - 2px);
}
div.win-loader-wrap div.win-loader-circle {
    transform: rotate(225deg);
    animation: orbit var(--time) infinite;
    width: calc(var(--size) - 2px);
    height: calc(var(--size) - 2px);
    opacity: 0;
}
div.win-loader-wrap div.win-loader-circle::before {
    content: "";
    position: absolute;
    width: calc(var(--size) / 8);
    height: calc(var(--size) / 8);
    border-radius: calc(var(--size) / 8);
    background: greenyellow;
}
div.win-loader-wrap:nth-child(2) {transform: rotate(-14deg);}
div.win-loader-wrap:nth-child(2) div.win-loader-circle {animation-delay: 133.33ms;}

div.win-loader-wrap:nth-child(3) {transform: rotate(-28deg);}
div.win-loader-wrap:nth-child(3) div.win-loader-circle {animation-delay: 266.67ms;}

div.win-loader-wrap:nth-child(4) {transform: rotate(-42deg);}
div.win-loader-wrap:nth-child(4) div.win-loader-circle {animation-delay: 400ms;}
div.win-loader-wrap:nth-child(5) {transform: rotate(-56deg);}
div.win-loader-wrap:nth-child(5) div.win-loader-circle {animation-delay: 533.33ms;}

@keyframes orbit {
    0% {transform: rotate(225deg);opacity:1;animation-timing-function: ease-out;}
    7% {transform: rotate(345deg);animation-timing-function: linear;}
    35% {transform: rotate(495deg);animation-timing-function: ease-in-out;}
    42% {transform: rotate(690deg);animation-timing-function: linear;}
    70% {transform: rotate(835deg);opacity:1;animation-timing-function: linear;}
    76% {opacity:1;}
    77% {transform: rotate(955deg);animation-timing-function: ease-in;}
    78% {transform: rotate(955deg);opacity:0;}
    100% {transform: rotate(955deg);opacity:0;}
}

.hidden {display: none;}
.invert {filter: invert(1);}
.center {text-align: center;}
img.profile {width: 0.8cm;}
.email {
    margin-top: 5px;
    font-size: 75%;
    color: white;
}