body {overflow-x: hidden;}
nav.homepage {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}
nav.homepage *:not(img, h1, a) {height: 10vh;}
nav.homepage div.logo {
    display: flex;
    align-items: center;
    height: 10vh;
    border-right: 1px solid white;
}
img.nav-ico {
    width: auto;
    height: inherit;
}
h1.page-title {
    padding-right: 10px;
    margin: 0;
    height: unset;
}
nav.homepage div.nav {
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-family: 'Source Sans Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
nav.homepage div.nav > a {
    display: flex;
    align-items: center;
    height: 8vh;
    border-bottom: 3px solid transparent;
    clip-path: polygon(0 0,
        100% 0, 100% calc(100% - 3px),
        50% calc(100% - 3px),
        50% 100%,
        50% 100%,
        50% calc(100% - 3px),
        0 calc(100% - 3px)
    );
    transition: 500ms clip-path ease, 10s border-bottom ease-in;
}
nav.homepage div.nav > a:first-child {margin-left: 10px;}
nav.homepage div.nav > a:hover {
    text-decoration: none;
    border-bottom: 3px solid lime;
    clip-path: polygon(0 0,
        100% 0,
        100% calc(100% - 3px),
        100% calc(100% - 3px),
        100% 100%,
        0 100%,
        0 calc(100% - 3px),
        0 calc(100% - 3px)
    );
    transition: 500ms clip-path ease;
}
span#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 80%;
}
span#contact a {transition: 400ms ease;}
span#contact a:hover {
    transition: 400ms ease;
    transform: scale(1.5);
}
@media only screen and (pointer: coarse) {
    nav.homepage {
        gap: 8px;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }
    nav.homepage div.logo {
        justify-content: center;
        border-right: unset;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
    }
    nav.homepage div.nav {justify-content: space-evenly}
    nav.homepage div.nav > a {height: 4vh}
    nav.homepage div.nav > a:first-child {margin-left: unset}
}

div.container-fullpage {
    flex-direction: column;
}
div.timer {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
span.timer, span.timer-unit {font-family: "Choco cooky";}
span.whatused {
    position: absolute;
    bottom: 0.2cm;
    right: 0.2cm;
    background-color: black;
    padding: 5px;
    border-radius: 10px;
}
span.whatused a {
    color: white;
}
div.audio {
    position: absolute;
    bottom: 0.1cm;
    left: 0.1cm;
}
audio.audio-player {
    position: absolute;
    width: 9cm;
    bottom: 0.08cm;
    left: 0.1cm;
}
::-webkit-media-controls-panel {
    background-color: #000000;
}
::-webkit-media-controls-current-time-display, ::-webkit-media-controls-time-remaining-display {
    font-family: "Choco cooky";
}