img.home {
    width: 0.75cm;
    height: 0.75cm;
}
a.arg-output {
    color: white;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
tr td:first-child {
    width: 3cm;
}
tr.sumbit {
    text-align: center;
}
tr.sumbit td input {
    width: 3cm;
}