body {
    background: url("https://choomai.ddns.net/dl/imgs/09\ gettyimages-582227825.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15px;
}
h1.page-title {
    font-size: 0.6cm;
    text-align: center;
}
p.notice {
    text-align: center;
    font-size: 95%;
    color:aqua;
}
a.homepage {
    position: absolute;
    top: 0.2cm;
    left: 0.2cm;
}
img.home {
    width: 0.75cm;
    height: 0.75cm;
}
div.addr-bar {
    display: flex;
    align-items: center;
    font-family: monospace;
    font-size: 14px;
    color: white;
}
div.addr-bar a {
    font-family: inherit;
    color: inherit;
    margin-left: 5px;
    margin-right: 5px;
}
table {
    width: 80%; /* 80% of container */
    /* width: 80%; */
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    line-height: 0.85cm;
}
/* Header of table */
.hname {
    max-width: 9.24cm; /* 55% of table */
    text-align: left;
}
.hmtime {
    width: 2.184cm; /* 13% of table */
    text-align: center;
}
.htype {
    width: 3.36cm; /* 20% of table */
    text-align: center;
}
.hsize {
    width: 2.016cm; /* 12% of table */
    text-align: right;
}

/* Items of table */
tr.items {
    transition: 400ms ease-in;
    background: rgba(0, 0, 0, 0%);
	border-bottom: 1px solid #555555;
    /* border: 1px solid #555555; */
}
tr.items:hover {
    transition: 400ms ease-in;
    background: rgba(0, 0, 0, 50%);
}
td.name {
    max-width: 9.184cm; /* 56% of table */
    text-align: left;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}
td.name a {
    display: block;
}
td.mtime {
    max-width: 2.132cm; /* 13% of table */
    padding-left: 0.1cm;
    padding-right: 0.1cm;
    text-align: center;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}
td.type {
    max-width: 3.28cm; /* 20% of table */
    text-align: center;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}
td.size {
    max-width: 1.804cm; /* 11% of table */
    text-align: right;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

/* Hyperlink color */
a.dir {
    /* Directory color */
    text-align: left;
    padding-right: 20px;
    text-decoration-color: yellow;
    color: yellow;
}
a.exe, a.msi, a.cmd, a.bat, a.com, a.ps1, a.vbscript, a.sh, a.jar, a.apk, a.xapk, a.apkm {
    /* Executeable type color */
    text-decoration-color: #0da7ee;
    color: #0da7ee;
}
a.a001, a.img, a.iso {
    /* Disc type color */
    text-decoration-color:lime;
    color:lime;
}
a.rar, a.a7z, a.zip, a.gz, a.tgz, a.lz4, a.ozip {
    /* Compressed type color */
    text-decoration-color:gold;
    color:gold;
}
a.psd, a.ai, a.svg, a.eps, a.dng, a.raw, a.gpr, a.srw, a.bmp, a.png, a.webp, a.gif, a.jpeg, a.jpg, a.jfif {
    /* Picture type color */
    text-decoration-color: greenyellow;
    color: greenyellow;
}
a.wav, a.flac, a.ogg, a.mp3 {
    /* Audio type color */
    text-decoration-color: deepskyblue;
    color: deepskyblue;
}
a.mp4, a.mkv, a.webm, a.mov, a.ts, a.flv {
    /* Video type color */
    text-decoration-color: #1cf1bc;
    color: #1cf1bc;
}
a.url, a.txt, a.rtf, a.md, a.pdf, a.doc, a.docx, a.xls, a.xlsx, a.ppt, a.pptx, a.pptm {
    /* Document type color */
    text-decoration-color: #5599FF;
    color: #5599FF;
}