@font-face {
    font-family: "Minecraft";
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/Choomai/choomai.github.io/fonts/MinecraftRegular-Bmg3.otf") format("opentype");
}
@keyframes slide {
    0% {background-position-x: 0%;}
    100% {background-position-x: 300cm;}
}
::-webkit-scrollbar {
    width: 0.45cm;
}
::-webkit-scrollbar-track {
    background-color: #5f5353;
}
::-webkit-scrollbar-thumb {
    background-color: #7a7a7a;
}
::-webkit-scrollbar-thumb:hover {
    background: repeating-linear-gradient(-45deg,red 0%,yellow 7.14%,lime 14.28%,cyan 21.4%,blue 35.7%,magenta 42.84%,red 50%);
    /* background-color: #33cc33; */
    border-radius: 10px;
}
body {
    background: url("https://cdn.jsdelivr.net/gh/Choomai/choomai.github.io/dl/imgs/10%20gettyimages-707445581.jpg");
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-family: 'Minecraft', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}
p {margin: 0;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
h1 a.title-txt {
    font-family: 'Minecraft', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}
h1.page-title {
    font-size: 170%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
div.container {
    background-color: rgba(0, 0, 0, 40%);
    max-width: 21cm;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 12px;
    backdrop-filter: blur(3px);
}
hr.sep {
    background: linear-gradient(to right, #FFFFFF80, white, #FFFFFF80);
    border: none;
	margin-top: 5px;
    margin-bottom: 5px;
	height: 1px;
}
.hidden {display: none;}
.invert {filter: invert(1);}
.center {text-align: center;}
img.profile {
    margin: 0px 5px;
    width: 0.8cm;
    height: 0.8cm;
}
.email {
    margin-top: 5px;
    font-size: 75%;
    color: white;
}